html {
    background-color : #011659;
    justify-content: center;
}
#logo {
    height : 15%;
    width : 15%;
}
u {
    text-decoration: underline;
}
h1 {
    padding-left : 1em;
    font-family: 'Lato', sans-serif;
    color : #011659;
    font-size : 6.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
header {
    padding : .5em;
    display : flex;
    flex-direction : row;
    height : 50%;
    background-color : #FFFFFF;
    border : solid;
    border-radius: 25px;
    border-width : 1em;
    border-color : #B80003;
    margin-top : 1em;
    margin-bottom: 1.2em;
    margin-left : 1.5em;
    margin-right : 2em;
}
header h1 {
    padding : 0;
    margin : 0;
    margin-left : .5em;
    text-align: center;
    vertical-align: middle;
}
body {
    width : 100%;
    height : 90%;
    align-items : center;
    justify-content: center;
}

#mainBody {
    margin-top : 1em;
    margin-left : 1.5em;
    margin-right : .5em;
    display : flex;
    width : 90%;
    flex-direction: column;
    padding : 1px 1em 1em;
    background-color : #FDFDFD;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    line-height : 180%;
    border-radius: 25px;
    border: .5em solid #BABABA;
    padding : 1em; 
}
h2 {
    font-family: 'Lato', sans-serif;
    font-size : 170%;
}
span {
    display : block;
}
b {
    font-size : 105%;
    font-weight : bolder;
}
#challengePointDefinition {
    display : block;
}
.indent {
    margin-left : 1.8vw;
}
#larrysFace {
    height : 15vw;
    width : 15vw;
    border-radius: 25px;
    border: 6px solid #011659;
}
#aboutLarry {
    margin-top : 1em;
    margin-left : .5em;
    margin-right : 2em;
    justify-content: center;
    align-items : center;
    display : flex;
    flex-direction: column;
    width : 20%;
    height: 100%;
    line-height : 180%;
    right:0; top:30%; bottom: 0;
    right: 2%;
    background-color: #BABABA;
    overflow-x: hidden;
    border : solid;  
    border-radius: 25px;
    border-width : .5em;
    border-color : #B80003;
    padding : 1px 1em 1em;
    padding : 1em; 
}
#everything {
    display : flex;
    flex-direction : row;
}

.nav {
    color : black;
    padding: .6vw;
    margin : .5em;
    font-family: 'Lato', sans-serif;
    font-size : 125%;
    border : solid;
    border-radius: 20px;
    border-width : .3em;
    border-color : #B80003;
    background-color : #BABABA;
}

#navBar {
    margin-left : 1em;
    display: flex;
    flex-direction: row;
}
h3 {
    font-weight: bolder;
}
.w3-btn, .w3-button {
    height : 3vw;
    width : 3vw;
    border: none;
    display: inline-block;
    padding: 8px 8px;
    vertical-align: middle;
    overflow: hidden;
    border : solid;
    border-radius: 10px;
    border: .2em solid #011659;
    justify-content: center;
    text-align: center;
    align-items : center;
    cursor: pointer;
    background-color : #BABABA;
}
.mySlides {
    margin-left : 1em;
    margin-right : 1em;
    justify-content: center;
    align-items : center;
    vertical-align: middle;
    border : solid;
    border-radius: 25px;
    border: .5em solid #BABABA;
}
.pictureContent {
    display : flex;
    flex-direction: row;
    justify-content: center;
    align-items : center;
    vertical-align: middle;
}
#row {
    display : flex;
    flex-direction : row;
    align-content: center;
    justify-content: center;
    align-items : center;
    margin-bottom: 2em;
}
#share {
    margin-left : 1.8vw;
}